@{

}
<link rel="stylesheet" href="~/css/home.css" />

<div class="relative w-full flex items-center justify-center"
    style="background-image: url('/image/banners/banner5.jpg'); background-size: contain; height: 800px;">
    <div class="absolute bg-blue-700 w-full text-6xl font-bold text-white flex items-center"
        style="background-color: rgba(0, 0, 0, 0.203); height: 800px; padding-left: 5%;">
        <div class=" text-white">
            <div style="margin-bottom: 3%;">
                <h1 class="text-7xl font-bold"><strong>SWITCHING BETWEEN </strong></h1>
                <h1 class="text-7xl font-bold"><strong>YOU</strong></h1>
            </div>


            <div class="mt-8 mb-20" style="margin-bottom: 5%;">
                <p class="text-3xl">Who you are today isn’t necessarily who you’ll want to be tomorrow.</p>
                <p class="text-3xl">Introducing the latest adicolor.</p>
            </div>

            <a asp-controller="Produit" asp-action="Index">
                <button class="button text-2xl">
                    Voir Produit
                    <svg fill="currentColor" viewBox="0 0 24 24" class="icon">
                        <path clip-rule="evenodd"
                            d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm4.28 10.28a.75.75 0 000-1.06l-3-3a.75.75 0 10-1.06 1.06l1.72 1.72H8.25a.75.75 0 000 1.5h5.69l-1.72 1.72a.75.75 0 101.06 1.06l3-3z"
                            fill-rule="evenodd"></path>
                    </svg>
                </button>
            </a>




        </div>
    </div>
</div>
@* <section class=" sm:block bg-cover bg-center" style="height: 600px; ;background-image: url(/image/banners/banner2.jpg)">

    <div class="text-left px-4 md:px-8 py-12">

        <div class="heading text-white">
            <h1 class="text-4xl font-bold"><strong>SWITCHING BETWEEN </strong></h1>
            <h1 class="text-4xl font-bold"><strong>&#xFEFF;YOU</strong></h1>
        </div>

        <div class="sub_heading text-white mt-4">
            <p class="text-lg">Who you are today isn’t necessarily who you’ll want to be tomorrow.</p>
            <p class="text-lg">Introducing the latest adicolor.</p>
        </div>

        <div class="button_wrapper mt-6">
            <a class="btn btn-secondary inline-block px-6 py-3 bg-gray-800 text-white rounded-lg hover:bg-gray-700 transition duration-200"
                href="https://www.adidas.com/sn/fr/women-adicolor"
                data-tracking-link="GLP-MEN CLP-mainbanner-_-shop women">

                SHOP
                <div class="right_arrow_main inline-block ml-3">
                    <img class="icon icon-arrow-black inline-block"
                        src="/on/demandware.static/Sites-adidas-MLT-Site/-/default/dwb254fd68/images/long-arrow-right-black.svg"
                        alt="">
                    <img class="icon icon-arrow-white inline-block"
                        src="/on/demandware.static/Sites-adidas-MLT-Site/-/default/dwca54c5ab/images/long-arrow-right-white.svg"
                        alt="">
                    <img class="icon icon-arrow-gray inline-block"
                        src="/on/demandware.static/Sites-adidas-MLT-Site/-/default/dw4faec4da/images/long-arrow-gray.svg"
                        alt="">
                </div>
            </a>
        </div>

    </div>
</section> *@
