@{
    ViewData["Title"] = "Home Page";
}
<section class="main_air_banner hidden sm:block banner-left nonyeezy bg-cover bg-center"
    style="background-image: url('https://www.adidas.com/dw/image/v2/BFNL_PRD/on/demandware.static/-/Library-Sites-AdidasSharedLibrary/default/dwae3b7da7/++++++++++++++++++_____aaaaaa_____BBBBB__originals-fw23-adicolor-F-MH-D.jpg')">

    <div class="content_container text-left ltr px-4 md:px-8 py-12">

        <div class="heading text-white">
            <h1 class="text-4xl font-bold"><strong>SWITCHING BETWEEN </strong></h1>
            <h1 class="text-4xl font-bold"><strong>&#xFEFF;YOU</strong></h1>
        </div>

        <div class="sub_heading text-white mt-4">
            <p class="text-lg">Who you are today isn’t necessarily who you’ll want to be tomorrow.</p>
            <p class="text-lg">Introducing the latest adicolor.</p>
        </div>

        <div class="button_wrapper mt-6">
            <a class="btn btn-secondary inline-block px-6 py-3 bg-gray-800 text-white rounded-lg hover:bg-gray-700 transition duration-200"
                href="https://www.adidas.com/sn/fr/women-adicolor"
                data-tracking-link="GLP-MEN CLP-mainbanner-_-shop women">

                SHOP WOMEN
                <div class="right_arrow_main inline-block ml-3">
                    <img class="icon icon-arrow-black inline-block"
                        src="/on/demandware.static/Sites-adidas-MLT-Site/-/default/dwb254fd68/images/long-arrow-right-black.svg"
                        alt="">
                    <img class="icon icon-arrow-white inline-block"
                        src="/on/demandware.static/Sites-adidas-MLT-Site/-/default/dwca54c5ab/images/long-arrow-right-white.svg"
                        alt="">
                    <img class="icon icon-arrow-gray inline-block"
                        src="/on/demandware.static/Sites-adidas-MLT-Site/-/default/dw4faec4da/images/long-arrow-gray.svg"
                        alt="">
                </div>
            </a>
        </div>

    </div>
</section>
