@model ges_commande.Models.Produit

@{
}


<div class="bg-gray-900 px-6 py-5 mx-auto mt-14 my-5 box-shadow3 rounded-xl" style="width: 40%">
    <h1 class="text-center text-white text-3xl mb-8 font-bold underline">Ajout de Produit</h1>
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-red-600"></div>
        <div class="w-full flex gap-3 mx-auto justify-center px-8">
            <div class="w-full">
                <label asp-for="Libelle" class="text-white font-semibold"></label>
                <input asp-for="Libelle"
                    class="capitalize mt-1 shadow-2xl p-3 w-full outline-none focus:border-solid focus:border-[1px]  placeholder:text-black"
                    type="text" placeholder="Libelle" />
                <span asp-validation-for="Libelle" class="text-red-600"></span>
            </div>

            <div class="w-full">
                <label asp-for="PrixUnit" class="text-white font-semibold"></label>
                <input asp-for="PrixUnit"
                    class="capitalize mt-1 shadow-2xl p-3 glass w-full placeholder:text-black outline-none focus:border-solid focus:border-[1px] "
                    type="number" step="0.01" placeholder="Prix Unitaire" />
                <span asp-validation-for="PrixUnit" class="text-red-600"></span>
            </div>
        </div>

        <div class="w-full flex gap-3 mt-6 justify-center px-8">
            <div class="w-full">
                <label asp-for="QteSock" class="text-white font-semibold"></label>
                <input asp-for="QteSock"
                    class="capitalize mt-1 shadow-2xl p-3 w-full outline-none focus:border-solid focus:border-[1px]  placeholder:text-black"
                    type="number" placeholder="Quantité en Stock" />
                <span asp-validation-for="QteSock" class="text-red-600"></span>
            </div>

            <div class="w-full">
                <label asp-for="QteSeuil" class="text-white font-semibold"></label>
                <input asp-for="QteSeuil"
                    class="p-3 capitalize mt-1 shadow-2xl glass w-full placeholder:text-black outline-none focus:border-solid focus:border-[1px] "
                    type="number" placeholder="Quantité de Seuil" />
                <span asp-validation-for="QteSeuil" class="text-red-600"></span>
            </div>

        </div>

        <div class=" flex-col ">
            <label for="file" class="custum-file-upload mt-8 mx-auto bg-gray-500">
                <div class="icon">
                    <svg viewBox="0 0 24 24" fill="" xmlns="http://www.w3.org/2000/svg">
                        <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                        <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                        <g id="SVGRepo_iconCarrier">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M10 1C9.73478 1 9.48043 1.10536 9.29289 1.29289L3.29289 7.29289C3.10536 7.48043 3 7.73478 3 8V20C3 21.6569 4.34315 23 6 23H7C7.55228 23 8 22.5523 8 22C8 21.4477 7.55228 21 7 21H6C5.44772 21 5 20.5523 5 20V9H10C10.5523 9 11 8.55228 11 8V3H18C18.5523 3 19 3.44772 19 4V9C19 9.55228 19.4477 10 20 10C20.5523 10 21 9.55228 21 9V4C21 2.34315 19.6569 1 18 1H10ZM9 7H6.41421L9 4.41421V7ZM14 15.5C14 14.1193 15.1193 13 16.5 13C17.8807 13 19 14.1193 19 15.5V16V17H20C21.1046 17 22 17.8954 22 19C22 20.1046 21.1046 21 20 21H13C11.8954 21 11 20.1046 11 19C11 17.8954 11.8954 17 13 17H14V16V15.5ZM16.5 11C14.142 11 12.2076 12.8136 12.0156 15.122C10.2825 15.5606 9 17.1305 9 19C9 21.2091 10.7909 23 13 23H20C22.2091 23 24 21.2091 24 19C24 17.1305 22.7175 15.5606 20.9844 15.122C20.7924 12.8136 18.858 11 16.5 11Z"
                                fill=""></path>
                        </g>
                    </svg>
                </div>
                <div class="text">
                    <span>Cliquer pour téléverser une image</span>
                </div>
                <input asp-for="ImageFile" id="file" type="file">
            </label>
            <span asp-validation-for="ImageFile" class="text-red-600 text-center flex justify-center"></span>
        </div>

        <button type="submit"
            class="bg-white flex justify-center align-middle mx-auto text-gray-900 font-medium text-xl rounded px-8 py-4 text-center mt-8 w-1/2">Créer</button>
    </form>
</div>
